.App {
  text-align: center;
  background-color: rgba(13, 146, 37, 0.314);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo{
  width:125px;
  height:75px;
}

.SiteName {
  font-style:italic;
}

.crypto_info{
  position: center;
}

.navLink{
  padding: 10px;
  margin-bottom: auto;
}

.posts{
  outline:auto;
  margin: 5px;
  background-color: whitesmoke;
}

.post_header{
  display:flex;
}

.post-content{
  text-align: center;
}

.market_news{
  width:100px;
  height:100px;
}

.header_container{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  justify-content: left;
  background-image: url('https://t3.ftcdn.net/jpg/02/74/91/02/360_F_274910292_Xm3dgmmfMJVFrcjUR1eqJmIC7giRrsTF.jpg');
  background-size: cover;
  height: 75px;
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.75;
}

.new_post_form{
  background-color: whitesmoke;
  width: 1475px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.links{
  display: flex;
  justify-content: space-between; 
  background-color: rgba(11, 131, 33, 0.827);
  align-items: center;
  height: 40px;
}

.navLink {
  margin: 10px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-decoration: none;
}

.logout_button {
  margin: 10px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-decoration: none;
}

.company_info_header{
  margin: 5px;
}

.home_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 13px;
  }
  
  .mission_statement { grid-area: 1 / 1 / 2 / 6; }
  .home_page_bottom { grid-area: 5 / 1 / 6 / 6; }

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .company_info { grid-area: 1 / 1 / 2 / 6; }
  .company_profile { grid-area: 2 / 1 / 4 / 4; }
  .stock_competitors { grid-area: 2 / 4 / 4 / 5; }
  .stock_quote { grid-area: 2 / 5 / 4 / 6; }
  .stock_rec { grid-area: 4 / 1 / 5 / 6; }

  .home_page_message{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  .crypto_table {
      overflow-y: scroll;
      height: 53vh;
      display: flex;
      flex-direction: row;
      text-rendering: optimizeSpeed;
    }

  .pricing_info{
    float: left;
    margin-left: 10px;
  }

  .welcome_message{
    position: relative;
    margin-bottom: 350px;
    margin-top: 300px;
  }

  .login_image_div{
    float: left;
    height: 680px;
    width: 1100px;
    margin-top: -16px;
  }



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
